[submodule "UbStudyHelpCore/UbStudyHelp/TUB_Files"]
	path = UbStudyHelpCore/UbStudyHelp/TUB_Files
	url = git@github.com:Rogreis/TUB_Files.git
[submodule "UbStandardObjects"]
	path = UbStandardObjects
	url = git@github.com:Rogreis/UbStandardObjects.git
